<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <add name="GreenFabLabContext" connectionString="data source=DESKTOP-MJD7GPK;initial catalog=GreenFabLab;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />


</configuration>
