<!-- Service Section -->
<section id="bloginner" class="bloginner sections margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>Biodiesel</h1>
                </div><!-- End of head title -->
                <div class="main_bloginner_area">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="main_bloginner_content">
                                <div class="single_bloginner s_blogIner_1 text-center">
                                    <img src="/DashboardContent/assets/images/BioDiesel1.jpeg" alt="">
                                </div><!-- End of single single_bloginner -->
                                <div class="single_bloginner s_blogIner_2 margin-top-80">
                                    <div class="separator2"></div>
                                    <p>
                                        Biodiesel is an alternative fuel which is similar to conventional fossil fuels. The scarcity of conventional fossil fuels, increasing emissions of pollutants, along with the increase in costs have compelled users towards non-conventional renewable energy sources as an alternative. Biodiesel also helps in waste management, as the improper disposal of waste cooking oil could pollute the air as well as water. Utilization of such waste cooking oil and the oil crops to produce Biodiesel would hugely benefit waste management as well as pollution control.</p>
                                    
                                    <p>
                                        Biodiesel is a synthesis of triglycerides with alcohol in the presence of catalysts. The alcohol used must be the shortest alkyl group and most polar in nature. Methanol is preferred in many countries due to its easy availability and low boiling point. Also, the excess methanol used can be recovered from the glycerol after the biodiesel is separated. However, methanol has various hazardous effects which could be injurious to human hence, we have chosen ethanol which is also a short alkyl group alcohol but it is less harmful compared to methanol. The major advantage of using ethanol is that it is a renewable liquid which is obtained by fermentation of sugarcane or food crops while methanol is obtained from fossil fuels. The selection of catalyst is based on the type of waste vegetable oil obtained. The oil must have free fatty acids (FFA < 1 wt%) and moisture content (< 0.5 wt%) so that base catalyzed transesterification can be done. Alkaline catalysts like NaOH, KOH have similar properties for producing biodiesel but have few differences which may affect the selection of one of them. We have chosen NaOH as it is economical and also does not boil violently at higher temperatures.</p>
                                    <p>
                                        Quantities of chemicals used:<br />
                                        •	Oil - 100 litres<br />
                                        •	Ethanol - 20 litres (0.2L for every 1L of oil)<br />
                                        •	NaOH - z grams per litre (Amount obtained from the titration process)<br />
                                        •	Temperature - 50-60℃<br />
                                        •	Time - 1-2 hours<br />
                                        </p>
                                    <p>
                                        Steps<br />
                                        •	Collection of oil used for the biodiesel production is collected from various sources like used cooking oil from Mensa, Restaurants, etc.<br />
                                        •	The oil is allowed to pass through a nylon mesh placed on the container. This helps in removing large particle impurities from the oil.<br />
                                        •	Mixing Reactants<br />
                                        Ethanol is transferred to the processor (30-40°C pre heated) in the molar ratio of 6:1. Later, sodium hydroxide is added to the ethanol solution and it is stirred at 500 rpm<br />
                                        •	Transesterification<br />
                                        Oil is added to the processor with the reactants and it is heated to a temperature of 60℃. This mixture is stirred at 800 rpm for approximately 1 hour. Then allow the mixture to settle for an hour to form layers.<br />
                                        •	Separation of glycerol<br />
                                        Now the glycerol can be removed from the processor from the outlet present.<br />
                                        •	Biodiesel washing<br />
                                        Once the glycerol is separated, water is added to the biodiesel present in the processor and the mixture is stirred using motor pump at about 300 rpm and then allowed to settle.<br />
                                        Once the water is settled, it can be removed from the valve at the bottom. This process needs to be repeated twice to completely get rid of any alcohol or catalysts present in the biodiesel.<br />
                                        •	Biodiesel storage<br />
                                        Biodiesel can be collected from the processor and stored in a proper container for future use or it can also be used in engines directly or by mixing with petroleum fuel as it does not cause any harm to existing engines.<br />
                                    </p>
                                    <p>
                                        Safety Gear (must Haves):<br />
                                        The following gear should be on hand each time you produce biodiesel even if no risks have been identified after a proper assessment:<br />
                                        ●	Chemical-resistant gloves (butyl rubber is best for ethanol and lye(catalyst))<br />
                                        ●	Chemistry goggles (indirect vented) and face shield<br />
                                        ●	Dust mask or cartridge respirator<br />
                                        ●	Eye Wash bottle with saline solution<br />
                                        ●	Small spray bottle with vinegar for neutralizing lye spills<br />
                                        ●	Access to running water<br />
                                        ●	Telephone in case of emergency and emergency telephone numbers 112<br />
                                        ●	Fire extinguishers (ABC or CO2 )<br />
                                        ●	Absorbent material and spill-containment supplies<br />
                                    </p>
</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
<!-- Team Section -->
