<!-- Service Section -->
<section id="bloginner" class="bloginner sections margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>Biogas</h1>
                </div><!-- End of head title -->
                <div class="main_bloginner_area">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="main_bloginner_content">
                                <div class="single_bloginner s_blogIner_1 text-center">
                                    <img src="~/DashboardContent/assets/images/bloginner1.jpg" alt="" />
                                </div><!-- End of single single_bloginner -->
                                <div class="single_bloginner s_blogIner_2 margin-top-80">
                                    <div class="separator2"></div>
                                    <p>
                                        Biogas is becoming more and more visible in Germany’s energy production net, with more than 10 thousand production plants present all over the country and it is leading Europe as main biogas producer. The strength of biogas is in the usage of local bio-wastes cutting on the transportation and direct applications of the energy or fuel produced.</p>
                                    </p>
                                      <p>  Biogas is defined as the mixture of gases produced by anaerobic decomposition of organic matter such as agricultural waste, manure, food waste, etc; the main components are methane and carbon dioxide, with traces of Hydrogen Sulfide, Water Vapour, Ammonia, etc
                                    </p>
                                    <p>
                                        Overview of the process:<br />
                                        1. Hydrolysis: breakdown of large organic polymers into smaller chains such as sugar monomers, amino acids, fatty acids. Acetate and hydrogen are produced as well.<br />
                                        2. Acidogenesis: further breakdown by acidogenic bacteria (fermentative process). volatile fatty acids (VFA), ammonia, carbon dioxide, hydrogen sulfide, etc are produced.<br />
                                        3. Acetogenesis: breakdown of molecules into acetic acid, carbon dioxide and hydrogen.<br />
                                        4. Methanogenesis: methanogens bacteria use the products of the previous stages to produce methane, carbon dioxide and water. Those bacteria are sensitive to high and low pH (optimal range 6.5-8) and they are more active at high temperature (30-40 °C). The remain material, called digestate, cannot go under further background.<br />
                                    </p>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
<!-- Team Section -->
