    
<!-- Home Section -->
<section id="home" class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="main_home_slider text-center">


                    <div class="single_home_slider">
                        <div class="home-overlay"></div>
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">

                            <h2>Welcome to Green FabLab <br />Kamp-Lintfort</h2>
                            <div class="separator"></div>
                            <p class="subtitle">
                                The leading laboratory<br />
                                Green Fab Lab
                            </p>

                        </div>
                    </div><!-- End of single_home_slider -->

                    <div class="single_home_slider2">
                        <div class="home-overlay"></div>
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <h2>Open-Source, Open Resource.</h2>
                            <div class="separator"></div>
                            @*<p class="subtitle">
                                    professionals <br />
                                    in the creative industries
                                </p>*@

                        </div>
                    </div><!-- End of single_home_slider -->

                    <div class="single_home_slider3">
                        <div class="home-overlay"></div>
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <h2>Digital Fabrication Lab.</h2>
                            <div class="separator"></div>
                            @*<p class="subtitle">
                                    professionals <br />
                                    in the creative industries
                                </p>*@
                        </div>
                    </div><!-- End of single_home_slider -->

                </div>
            </div>
        </div>
    </div>
</section><!-- End of Home Section -->




<!-- Service Section -->
<section id="service" class="service sections lightbg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>What we do?</h1>
                </div><!-- End of head title -->

                <div class="main_service_area">
                    <div class="single_service_area">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="signle_service_left">
                                    <img src="~/DashboardContent/assets/images/service0.png" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-push-1">
                                <div class="single_service">
                                    <h3>creative</h3>
                                    <h2>kitchen</h2>
                                    <div class="separator2"></div>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </p>

                                    <p>
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </p>

                                    <a href="https://bootstrapthemes.co" class="btn btn-default">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End of single service area -->

                    <div class="single_service_area  margin-top-80">
                        <div class="row">

                            <div class="col-sm-6 col-sm-push-6">
                                <div class="signle_service_left">
                                    <img src="~/DashboardContent/assets/images/service2.png" alt="" />
                                </div>
                            </div>

                            <div class="col-sm-5 col-sm-pull-6">
                                <div class="single_service">
                                    <h3>art</h3>
                                    <h2>installation</h2>
                                    <div class="separator2"></div>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </p>

                                    <p>
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </p>

                                    <a href="https://bootstrapthemes.co" class="btn btn-default">learn more</a>
                                </div>
                            </div>

                        </div>
                    </div><!-- End of single service area -->

                    <div class="single_service_area margin-top-80">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="signle_service_left">
                                    <img src="~/DashboardContent/assets/images/service3.jpeg" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-push-1">
                                <div class="single_service">

                                    <h2>Bio Diesel</h2>
                                    <div class="separator2"></div>
                                    <p>
                                        The main motivation for Biofuels was to reduce the emission of pollutants by conventional Fossil
                                        fuels and their high cost. Biofuels has become the alternative solution for transport System,
                                        as they are better approach in terms of cost and environment.
                                    </p>

                                    <p>
                                        In order to replace the usage of Diesel in transportation Biofuels has an alternative as ‘Biodiesel’,
                                        which is produced by cooking oils like soybean oil, cottonseed oil, sunflower oil, corn oil, canola
                                        oil, or recycled cooking oils. To make the Biodiesel approach more environmental friendly,
                                        Our method uses ethanol to perform better and more purified Biodiesel.

                                    </p>

                                    <a href="https://bootstrapthemes.co" class="btn btn-default">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End of single service area -->
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
<!-- Team Section -->
<section id="team" class="team colorsbg sections">
    <div class="container">
        <div class="row">
            <div class="main_team_area">
                <div class="head_title text-center">
                    <h1>Our Team</h1>
                </div><!-- End of head title -->

                <div class="main_team text-center">
                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/becker.png" alt="" />
                                        <h4>Prof. Dr.-Ing. Rolf Becker</h4>
                                        <div class="separator"></div>
                                        <p>Project Lead</p>
                                    </div>
                                </div> <!-- End of col-sm-5 -->
                                <div class="col-sm-6">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/tiedemann.jpg" alt="" />
                                        <h4>Prof. Dr. Kai J. Tiedemann</h4>
                                        <div class="separator"></div>
                                        <p>Project Lead</p>
                                    </div>
                                </div> <!-- End of col-sm-5 -->

                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/team1.jpg" alt="" />
                                        <h4>Bio Diesel</h4>
                                        <div class="separator"></div>
                                        <p>Team Members</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->

                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/team1.jpg" alt="" />
                                        <h4>Bio Fuel</h4>
                                        <div class="separator"></div>
                                        <p>Team Members</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->


                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>

                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/team1.jpg" alt="" />
                                        <h4>Waste Water Treatment</h4>
                                        <div class="separator"></div>
                                        <p>Team Members</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->


                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>

                </div>
            </div>
        </div><!-- End of row -->
    </div><!-- End of Contaier -->
</section><!-- End of portfolio Section -->
<!-- Contact Section -->
<section id="contact" class="contact">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_contact sections">
                    <div class="head_title text-center whitetext">
                        <h1>Contact</h1>
                    </div><!-- End of head title -->

                    <div class="row">
                        <div class="contact_contant">
                            <div class="col-sm-4 col-xs-12">
                                <div class="single_message_right_info whitetext">
                                    <ul>
                                        <li>
                                            <i class="fa fa-map-marker"></i> <span>
                                                Hochschule-Rhein Waal (FabLab)
                                                Friedrich-Heinrich-Allee 25,
                                                Kamp-Lintfort, 47475, Germany
                                            </span>
                                        </li>


                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                <div class="single_message_right_info whitetext">
                                    <ul>


                                        <li><i class="fa fa-mobile-phone"></i> <span> +49 2842 90825233</span></li>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                <div class="single_message_right_info whitetext">
                                    <ul>


                                        <li><i class="fa fa-envelope-o"></i> <span> fablab@hochschule-rhein-waal.de</span></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- End of col-sm-6 -->


                        </div> <!-- End of messsage contant-->
                    </div>
                    <div class="row">
                        <div class="contact_contant">

                            <div class="col-sm-4 col-xs-12">
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="single_message_right_info whitetext">

                                    <div class="contact_socail transition">
                                        <a href=""><i class="fa fa-facebook img-circle"></i></a>
                                        <a href=""><i class="fa fa-twitter img-circle"></i></a>
                                        <a href=""><i class="fa fa-google-plus img-circle"></i></a>
                                        <a href=""><i class="fa fa-pinterest img-circle"></i></a>
                                        <a href=""><i class="fa fa-instagram img-circle"></i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-2 col-xs-12">
                            </div>




                        </div>
                    </div>

                </div>
                <div>

                </div>



            </div>

        </div><!-- End of col-sm-12 -->
    </div><!-- End of row -->
    </div><!-- End of Contaier -->
</section><!-- End of portfolio Section -->