    
<!-- Home Section -->
<section id="home" class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="main_home_slider text-center">


                    <div class="single_home_slider">
                        <div class="home-overlay"></div>
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">

                            <h2>Welcome to Green FabLab <br />Kamp-Lintfort</h2>
                            <div class="separator"></div>
                            <p class="subtitle">
                                <br />
                                What we are: A FabLab provides a small scale digital fabrication for additive 
                                 manufacturing of prototype and real end products. FabLab is better approach to develop all 
                                industry products more efficient for environment and faster in producing results.
                            </p>

                        </div>
                    </div><!-- End of single_home_slider -->

                    <div class="single_home_slider2">
                        <div class="home-overlay"></div>
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <h2>Open-Source, Open Resource.</h2>
                            <div class="separator"></div>
                            @*<p class="subtitle">
                                    professionals <br />
                                    in the creative industries
                                </p>*@

                        </div>
                    </div><!-- End of single_home_slider -->

                    <div class="single_home_slider3">
                        <div class="home-overlay"></div>
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <h2>Digital Fabrication Lab.</h2>
                            <div class="separator"></div>
                            @*<p class="subtitle">
                                    professionals <br />
                                    in the creative industries
                                </p>*@
                        </div>
                    </div><!-- End of single_home_slider -->

                </div>
            </div>
        </div>
    </div>
</section><!-- End of Home Section -->




<!-- Service Section -->
<section id="service" class="service sections lightbg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               
                    <div class="single_service">

                        <h2>Our Mission </h2>
                        <div class="separator2"></div>
                        
                            <h2>To connect people with nature and organic approaches..</h2></br>
                        <h3>Green FAbLab Components are</h3></p></br>
                        <p>
                            1. Biodiesel </br>
                            2. Biogas</br>
                            3. WWT</br>
                        </p>
                        <a href="BiodieselWork.cshtml" class="btn btn-default">learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="head_title text-center">
            <h1>What we do?</h1>
        </div><!-- End of head title -->

        <div class="main_service_area">
            <div class="single_service_area">
                <div class="row"> 
                    <div class="col-sm-6">
                        <div class="signle_service_left">
                            <img src="~/DashboardContent/assets/images/WWT1.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        
                        <div class="single_service_left">
                        
                            <h1>WWT</h1>
                            <div id="home1" class="separator2"></div>
                            <p>
                                Wastewater is utilized water. It incorporates substances, for example, human waste, food scraps, oils, cleansers, and chemicals. From household areas, this incorporates water from sinks, showers, baths, toilets, washing machines and dishwashers. Organizations and industries additionally contribute their share of utilized water that must be cleaned. Biodiesel wash water is produced from biodiesel washing process and it contains glycerin, unreacted oil, methanol, biodiesel, impurities, unreacted catalyst. It’s considered a high-strength waste due to the high concentration of substances compared to normal wastewater discharged into the sewer system. The significant point of wastewater treatment is to remove however much of the suspended solids as could reasonably be expected.
                            </p>
                            
                           

                            <a href="https://bootstrapthemes.co" class="btn btn-default">learn more</a>
                        </div>
                    </div>
                </div>
            </div><!-- End of single service area -->



            <div class="single_service_area margin-top-80">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="signle_service_left">
                            <img src="~/DashboardContent/assets/images/Biodiesel.jpeg" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single_service">

                            <h2>Bio Diesel</h2>
                            <div class="separator2"></div>
                            <p>
                                The main motivation for Biofuels was to reduce the emission of pollutants by conventional Fossil
                                fuels and their high cost. Biofuels has become the alternative solution for transport System,
                                as they are better approach in terms of cost and environment.
                            </p>

                            <p>
                                In order to replace the usage of Diesel in transportation Biofuels has an alternative as ‘Biodiesel’,
                                which is produced by cooking oils like soybean oil, cottonseed oil, sunflower oil, corn oil, canola
                                oil, or recycled cooking oils. To make the Biodiesel approach more environmental friendly,
                                Our method uses ethanol to perform better and more purified Biodiesel.

                            </p>

                            <a href="https://bootstrapthemes.co" class="btn btn-default">learn more</a>
                        </div>
                    </div>
                </div>
            </div><!-- End of single service area -->

            <div class="single_service_area  margin-top-80">
                <div class="row">

                    <div class="col-sm-6 col-sm-push-6">
                        <div class="signle_service_left">
                            <img src="~/DashboardContent/assets/images/Biogas1.jpg" alt="" />
                        </div>
                    </div>



                    <div class="col-sm-5 col-sm-pull-6">
                        <div class="single_service">

                            <h2>Biogas</h2>
                            <div class="separator2"></div>
                            <p>
                                Biogas is defined as the mixture of gases produced by the bacterial breakdown of biomass
                                under anaerobic conditions. In a biogas treatment, biogas can be compressed to biomethane
                                with approximately 98% of methane, which has the same properties as natural gas. 
                                Thus, biogas and biomethane produced from biogas are flexible renewable fuels that can be
                                stored. In the context of sustainable energy supply, biogas and biomethane are important
                                functions because electricity, motor fuel, and heat can be produced from them.
                                Anaerobic digestion of manure and other feedstock results in the production of biogas which
                                are important functions to make energy for farms. Therefore, biogas can be generated by using
                                different organic matter as a feedstock in anaerobic digesters.

                            </p>

                            

                            <a href="https://bootstrapthemes.co" class="btn btn-default">learn more</a>
                        </div>
                    </div>

                </div>
            </div><!-- End of single service area -->

        </div>
    </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
<!-- Team Section -->
<section id="team" class="team colorsbg sections">
    <div class="container">
        <div class="row">
            <div class="main_team_area">
                <div class="head_title text-center">
                    <h1>Our Team</h1>
                </div><!-- End of head title -->

                <div class="main_team text-center">
                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/becker.png" alt="" />
                                        <h4>Prof. Dr.-Ing. Rolf Becker</h4>
                                        <div class="separator"></div>
                                        <p>Project Lead</p>
                                    </div>
                                </div> <!-- End of col-sm-5 -->
                                <div class="col-sm-6">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/tiedemann.jpg" alt="" />
                                        <h4>Prof. Dr. Kai J. Tiedemann</h4>
                                        <div class="separator"></div>
                                        <p>Project Lead</p>
                                    </div>
                                </div> <!-- End of col-sm-5 -->

                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/team1.jpg" alt="" />
                                        <h4>Bio Diesel</h4>
                                        <div class="separator"></div>
                                        <p>Team Members</p>
                                    </div>
                                </div> <!-- End of col-sm-4 -->

                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>
                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/team1.jpg" alt="" />
                                        <h4>Bio Fuel</h4>
                                        <div class="separator"></div>
                                        <p>Team Members</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->


                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>

                    <div class="single_team">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="team">
                                        <img class="img-circle" src="~/DashboardContent/assets/images/WWT.jpg" alt="" />
                                        <h4>Waste Water Treatment</h4>
                                        <div class="separator"></div>
                                        <p>Team Members</p>
                                    </div>
                                </div><!-- End of col-sm-4 -->


                            </div>
                        </div><!-- End of col-sm-10 -->
                    </div>

                </div>
            </div>
        </div><!-- End of row -->
    </div><!-- End of Contaier -->
</section><!-- End of portfolio Section -->
<!-- Contact Section -->
<section id="contact" class="contact">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_contact sections">
                    <div class="head_title text-center whitetext">
                        <h1>Contact</h1>
                    </div><!-- End of head title -->

                    <div class="row">
                        <div class="contact_contant">
                            <div class="col-sm-4 col-xs-12">
                                <div class="single_message_right_info whitetext">
                                    <ul>
                                        <li>
                                            <i class="fa fa-map-marker"></i> <span>
                                                                                 <a href="~/Views/Home/geolocation.cshtml">
                                                                                     
                                                                                     Hochschule-Rhein Waal (FabLab)
                                                                                     Friedrich-Heinrich-Allee 25,
                                                                                     Kamp-Lintfort, 47475, Germany
</span>
                                        </li>


                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                <div class="single_message_right_info whitetext">
                                    <ul>


                                        <li><i class="fa fa-mobile-phone"></i> <span> +49 2842 90825233</span></li>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                <div class="single_message_right_info whitetext">
                                    <ul>


                                        <li><i class="fa fa-envelope-o"></i> <span> fablab@hochschule-rhein-waal.de</span></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- End of col-sm-6 -->


                        </div> <!-- End of messsage contant-->
                    </div>
                    <div class="row">
                        <div class="contact_contant">

                            <div class="col-sm-4 col-xs-12">
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="single_message_right_info whitetext">

                                    <div class="contact_socail transition">
                                        <a href=""><i class="fa fa-facebook img-circle"></i></a>
                                        <a href=""><i class="fa fa-twitter img-circle"></i></a>
                                        <a href=""><i class="fa fa-google-plus img-circle"></i></a>
                                        <a href=""><i class="fa fa-pinterest img-circle"></i></a>
                                        <a href=""><i class="fa fa-instagram img-circle"></i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-2 col-xs-12">
                            </div>




                        </div>
                    </div>

                </div>
                <div>

                </div>



            </div>

        </div><!-- End of col-sm-12 -->
    </div><!-- End of row -->
    </div><!-- End of Contaier -->
</section><!-- End of portfolio Section -->