<!-- Service Section -->
<section id="bloginner" class="bloginner sections margin-top-120">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title text-center">
                    <h1>Waste Water Treatment</h1>
                </div><!-- End of head title -->
                <div class="main_bloginner_area">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="main_bloginner_content">
                                <div class="single_bloginner s_blogIner_1 text-center">
                                    <img src="~/DashboardContent/assets/images/bloginner1.jpg" alt="" />
                                </div><!-- End of single single_bloginner -->
                                <div class="single_bloginner s_blogIner_2 margin-top-80">
                                    <div class="separator2"></div>
                                    <p>
                                        Biodiesel wash water is produced from biodiesel washing process and it contains glycerin,
                                        unreacted oil, methanol, biodiesel, impurities, and unreacted catalyst. It’s considered a high
                                        strength waste due to the high concentration of substances compared to normal wastewater
                                        discharged into the sewer system; furthermore glycerin may be a problem at lower
                                        temperature into the pipes.
                                    </p>
                                    <p>
                                        Therefore a pretreatment of the wash water is required before disposing of it or re-use in
                                        agriculture irrigation or for a closed cycle in the biodiesel production. The wash water is rich
                                        in organic matter and the pH is alkaline due to the catalysts used during the biodiesel process.

                                    </p>
                                    <p>
                                        System:<br />
                                        Step 1: Surge removal and flow stabilization<br />
                                        Step 2: Anaerobic sludge accumulation and settling<br />
                                        Step 3: The aerobic contact zone and trickling filter (biological treatment)<br />
                                        Step 4: Filtration; before the water can be re-used for biodiesel wash process<br />
                                        The water coming out of the filtration is expected to be usable for irrigation and agriculture,
                                        and it can be reused to wash biodiesel. The flow of water can be set-up with the pump and
                                        therefore it can be regulated the amount of cycles of filtration for the water before leaving the
                                        plant.<br />
                                        It is necessary to inoculate trickling filter with proper microorganisms for a more efficient
                                        treatment and it would also be adequate to get a sludge sample from another waste water
                                        facilities instead of waiting for sludge to form.<br />

                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End of col-sm-12 -->
        </div><!-- End of row -->
    </div><!-- End of Container -->
</section><!-- End of Service Section -->
<!-- Team Section -->

